<ion-header>
    <ion-toolbar color="danger">
    
    <ion-buttons slot="start">
        <ion-menu-button ></ion-menu-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="mec">
  
    <div class="ion-text-center bordaSuperior">
        <p class="titulo">Sala de aula</p>
    </div>

    <ion-segment [(ngModel)]="inscritas" color="danger" style="width: 90%; margin-left: 18px; margin-top: 10px; margin-bottom: 10px;">
        <ion-segment-button value="true" checked>
          <ion-label>Inscritas</ion-label>
        </ion-segment-button>
        <ion-segment-button value="false">
          <ion-label>Não inscritas</ion-label>
        </ion-segment-button>
    </ion-segment>

  <ion-searchbar *ngIf="inscritas == 'false'" animated Placeholder="Procurar" (keyup)="pesquisar($event)"></ion-searchbar>

  <ng-container *ngIf="!salasP">
    <div *ngFor="let n of [0,1,2]" padding>
      <ion-skeleton-text></ion-skeleton-text>
      <p>
        <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
      </p>
    </div>
  </ng-container>
 <div *ngIf="salasP">
     

    <div *ngIf="inscritas == 'true'">
        <div style="text-align: center;
        border: 2px solid #F0525D;
        padding: 44px;
        font-size: 15px;
        font-weight: 600;
        color: #F0525D;
        border-radius: 9px 9px 0px 0px;"
        *ngIf="!salasP || salasP.length == 0  ">
            Que Pena! Não há salas de aula em que você esteja inscrito! Arraste as salas para o lado e se inscreva!
        </div> 
      <ion-list *ngFor="let salaP of salasP">
        <ion-item-sliding id="item100" >
          <ion-item class="ltDisciplinas" detail="false" (click)="redirectSala(salaP.adm, salaP.id, salaP.monitores)" [routerLink]="['/menu-sala/resumo', salaP.id]">
            <ion-label>
                <div class="adm" *ngIf="salaP.adm == idUser">Class admin</div>
                <p class="lbSala">{{salaP.descricao}}</p>
                <p class="lbProfessor">{{salaP.professor}}</p>
                <p class="lbCursoPeriodo">{{salaP.universidade}} - {{salaP.periodo}}º Período</p>
                <p class="lbLocal">{{salaP.sala}}</p>
            </ion-label>
          </ion-item>
      
          <ion-item-options side="start" *ngIf=" idUser == salaP.adm">
            <ion-item-option color="danger" (click)="delete(salaP)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
            <ion-item-option color="warning" (click)="edit(salaP)">
              <ion-icon slot="icon-only" name="create" md="md-create"></ion-icon>
            </ion-item-option>
          </ion-item-options>
      
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="sair(salaP)">
              Sair
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </div> 

  <ng-container *ngIf="!salasT ">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>

  <div *ngIf="salasT && inscritas == 'false'">
      <div style="text-align: center;
      border: 2px solid #F0525D;
      padding: 44px;
      font-size: 15px;
      font-weight: 600;
      color: #F0525D;
      border-radius: 9px 9px 0px 0px;"
      *ngIf="!salasT || salasT.length == 0  ">
          Que Pena! Não há salas de aula em que você não esteja inscrito! Espere seus colegas cadastrarem novas salas
      </div> 
      <ion-list *ngFor="let salaT of salasT; let i = index">
      
        <ion-item-sliding id="item100">
          <ion-item>
            <ion-label>
              <p class="lbSala">{{salaT.descricao}}</p>
              <p class="lbProfessor">{{salaT.professor}}</p>
              <p class="lbLocal">{{salaT.sala}}</p>
            </ion-label>
          </ion-item>      
          <ion-item-options side="end">
            <ion-item-option color="primary" (click)="seInscrever(salaT)">
              Se inscrever
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>

  <ion-fab style="margin-bottom: 70px;" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button style="--background: #febf50; --background-activated: #ffb127;" (click)="scanCode()" routerDirection="forward">
      <ion-icon name="qr-scanner"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button style="--background: #f0525d; --background-activated: #fa525d;" [routerLink]="['/sala-insert']" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
