<ion-header>
    <ion-toolbar color="danger">
      
      <ion-buttons slot="start">
          <ion-back-button text=""  [defaultHref]="['/menu-sala/quiz', idSala]"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="mec">

    <div class="ion-text-center bordaSuperior">
        <p class="titulo">Quiz</p>
    </div>

  <div *ngIf="!verGab">
    <div padding class="divItem" *ngFor="let item of res; index as b" [attr.data-index]="b" >
      <div class="tituloQuestionario">
        {{item.titulo}}
      </div>
      <div class="tagQuestionario">
          {{item.tag}}
      </div>
      <div class="perguntaQuestionario">
          {{b + 1}}. {{item.pergunta}}
      </div>
      <div class="respostas" *ngFor="let resps of item.respostas;index as i" [attr.data-index]="i">
        <ion-list class="listaRespostas" lines="none">
          <ion-radio-group>
              <ion-item>
                  <ion-label>{{resps.descricao}} </ion-label>
                <ion-checkbox slot="start" color="success"  [(ngModel)]="respostas[b][i].marcado"></ion-checkbox>
              </ion-item>
          </ion-radio-group>
        </ion-list>
        
      </div>
      <div (click)="like(item.id, item)" class="gostei">
        <ion-icon name="thumbs-up" style="font-size: 20px;"></ion-icon>
        <span style="position: absolute; margin-top: 2px; margin-left: 5px;">Gostei</span>
      </div>
    </div>
    
  </div>
  <div *ngIf="verGab">
      <div  *ngFor="let item of res; index as b" [attr.data-index]="b" >
          
          <div class="tituloQuestionario">
            {{item.titulo}}
          </div>
          <div class="tagQuestionario">
              {{item.tag}}
          </div>
          <div class="perguntaQuestionario">
              {{item.pergunta}}
          </div>
          <div class="respostas" *ngFor="let resps of item.respostas;index as i " [attr.data-index]="i">
            <ion-list>  
              <ion-radio-group >
                  <ion-item>
                    <ion-label>{{resps.descricao}} </ion-label>
                    <ion-checkbox slot="start" color="success" [(checked)]="resps.acerto" disabled="true"></ion-checkbox>
                  </ion-item>
              </ion-radio-group>
            </ion-list>
          </div>
        </div>
  </div>
</ion-content>
<ion-footer>
    <ion-button *ngIf="!verGab" expand="block" color="success" style="margin: 10px;" (click)="responder()" >Responder</ion-button>
    <ion-button *ngIf="verGab" expand="block" color="primary" style="margin: 10px;" [routerLink]="['/menu/quiz']" >Gerar novo quiz</ion-button>
</ion-footer>