<ion-header>
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-back-button text="" [defaultHref]="['/menu-sala/resumo', idSala]"></ion-back-button>
      </ion-buttons>
      <!-- <ion-title>Inserir novo resumo</ion-title> -->
      <ion-buttons slot="primary" >
        <ion-button (click)="help()" >
            <ion-icon name="help-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>

    <div class="ion-text-center bordaSuperior">
        <img class="chapeu" src="../../assets/chapeu.png">
    </div>
    
  <div style="margin-top: 100px;">
    <!-- Formulario -->
    
    <div class="tituloCriar">
      <p>Criar resumo</p>
    </div>

    <ion-item lines="none">
      <ion-input class="campoInput" placeholder="Título" [(ngModel)]="titulo"></ion-input>
    </ion-item>
    
    <ion-item lines="none">
      <ion-input class="campoInput" placeholder="Tag" [(ngModel)]="tag"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-datetime class="campoInput" placeholder="Data" display-format="DD/MM/YYYY" [(ngModel)]="data"></ion-datetime>
    </ion-item>
    
    <ion-item lines="none">
      <ion-textarea class="campoInput" style="height: 105px;" placeholder="Conteúdo" rows="5" [(ngModel)]="conteudo"></ion-textarea>
    </ion-item>

    <div>
        <ion-toggle color="success" class="toggle" mode="md" [(ngModel)]="pepperoni"></ion-toggle>
        <span class="compartilhar">Compartilhar</span>
    </div>

    <div class="ion-text-center" style="margin-top: 70px;">
        <!-- Botoes -->
        <ion-button class="btAzulPiscina" (click)="acessarCamera()">Inserir imagem</ion-button>
        <ion-button class="btSalvar" (click)="salvar()">Salvar</ion-button>
    </div>

  </div>
  
    <!--
    <ion-segment color="primary" [(ngModel)]="tipo">
        <ion-segment-button href="#p" value="p">
          <ion-label>Compartilhado</ion-label>
        </ion-segment-button>
        <ion-segment-button href="#i" value="i">
          <ion-label>Individual</ion-label>
        </ion-segment-button>
      </ion-segment> -->
  
</ion-content>