<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button [defaultHref]="['/menu-sala/resumo', idSala]"></ion-back-button>
      </ion-buttons>
      <ion-title>Inserir novo resumo</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div style="padding: 10px; text-align: center; margin-bottom: 10px;">
      <h1>Inserir novo resumo</h1>
    </div>
    <ion-item>
      <ion-label position="floating" >Data</ion-label>
      <ion-datetime display-format="DD/MM/YYYY" [(ngModel)]="data"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input [(ngModel)]="titulo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tag</ion-label>
      <ion-input [(ngModel)]="tag"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Conteúdo</ion-label>
      <ion-textarea rows="5" [(ngModel)]="conteudo"></ion-textarea>
    </ion-item>
    <ion-segment color="primary" [(ngModel)]="tipo">
        <ion-segment-button href="#p" value="p" checked>
          <ion-label>Compartilhado</ion-label>
        </ion-segment-button>
        <ion-segment-button href="#i" value="i">
          <ion-label>Individual</ion-label>
        </ion-segment-button>
      </ion-segment>
      
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="acessarCamera()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content>
<ion-footer>
    <ion-button expand="block" color="success" style="margin: 10px;" (click)="salvar()" >Salvar</ion-button>
</ion-footer>