<ion-header>
    <ion-toolbar color="danger">
      
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="mec">

    <div class="ion-text-center bordaSuperior">
        <p class="titulo">Questionário</p>
    </div>

  <div style="text-align: center;
  border: 1px solid red;
  padding: 44px;
  font-size: 15px;
  font-weight: 600;
  color: red;
  border-radius: 9px;
  margin-top: 35px;" *ngIf="!todo || todo.length == 0  ">
      Que Pena! Não há quiz para serem gerados! Crie um para auxiliar seus colegas
  </div>   
  <div style="text-align: center;" *ngIf="todo && todo.length > 0">

    <div padding>

  <h1 style="text-align: left; color: #6b6b6b; font-size: 22px; font-family: SFProText Bold;">Tag(s)</h1>
  
  <ion-item lines="none" class="espaco">
    <ion-label>Selecione a(s) tag(s)</ion-label>
    <ion-select placeholder="Selecione a(s) tag(s)" class="campoInput" multiple="true" cancelText="Cancelar" okText="Selecionar" [(ngModel)]="tagSelect" >
      <ion-select-option [(value)]="item.tag" *ngFor="let item of somenteTag" >{{item.tag}}</ion-select-option>
    </ion-select>
  </ion-item>

  <h1 style="text-align: left; color: #6b6b6b; font-size: 22px; font-family: SFProText Bold;">Perguntas</h1>
  <ion-item lines="none" class="espaco">
    <ion-label>Selecione a quantidade</ion-label>
    <ion-select placeholder="Selecione a quantidade" class="campoInput" (click)="teste()" [(ngModel)]="index">
      <ion-select-option [(value)]="item" *ngFor="let item of qtdQuiz">{{item}}</ion-select-option>
    </ion-select>
  </ion-item>
  <div class="ion-text-center" style="margin-top: 70px;">
      <ion-button class="btSalvar" *ngIf="tagSelect && index" [routerLink]="['/quiz-listar', tagSelect + '@' + index + '@' + idSala ]">Gerar quiz</ion-button>
  </div>
  
  </div>   

  <br>

   
  
      
      
  </div>
  <div padding style="text-align: center;" *ngIf="minhasPerguntas">
      <h1 *ngIf="minhasPerguntas.length > 0" style="text-align: left; color: #6b6b6b; font-size: 22px; font-family: SFProText Bold;">Minhas perguntas</h1>
        <ion-list style="margin-bottom: 10px;" *ngFor="let perg of minhasPerguntas">
            <ion-item-sliding id="item100">
              <ion-item >
                <ion-label>
                  <h2 style="font-family: SFProText Regular;">{{perg.pergunta}}</h2>
                </ion-label>
                
              </ion-item>
          
              <ion-item-options side="end">
                <ion-item-option color="danger" (click)="delete(perg)">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
                <ion-item-option color="warning" (click)="edit(perg)">
                  <ion-icon slot="icon-only" name="create" md="md-create"></ion-icon>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
    </div>  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button style="--background: #f0525d; --background-activated: #fa525d;" [routerLink]="['/quiz-insert', idSala]" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
