<ion-header>
  <ion-toolbar color="danger">
    
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-text-center bordaSuperior">
      <p class="titulo">Ranking geral</p>
  </div>

  <div padding style="margin-top: -15px;" *ngIf="usuarios.length > 0">
    <div class="primeiro" >
        <label>{{usuarios[0].nome.split(' ')[0]}}</label>
      </div>
      <div class="segundo">
        <label>{{usuarios[1].nome.split(' ')[0]}}</label>
      </div>
      <div class="terceiro">
        <label>{{usuarios[2].nome.split(' ')[0]}}</label>
      </div>
      <img src="../../assets/podium.png" width="400px" style="margin-top: 40px;">
    <div>
        <!-- <span style="font-family: SFProText Heavy;">Diferença entre o último ganhador: {{diferenca}}</span> -->
      </div>
      <div *ngIf="usuarios">
      <ion-item *ngFor="let us of usuarios; index as b" [attr.data-index]="b" >
          <ion-label>
            <h3>{{b + 1}}º</h3>
            <p>{{us.nome}} </p>
          </ion-label>
          <p>{{us.pontos}} pts</p>
        </ion-item>
      </div>

  </div>

</ion-content>
