<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-button (click)="fecharModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
    </ion-buttons>
      <ion-buttons slot="primary">
          <ion-button (click)="salvarConfig()">Salvar</ion-button>
      </ion-buttons>
      <ion-title>Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-text-center bordaSuperior">
        <img class="chapeu" src="../../assets/chapeu.png">
    </div>
    <div style="margin-top: 100px;">
    <ion-item lines="none">
        <ion-label position="stacked">Quantos dias antes gostaria de ser notificado <br>sobre a atividade?</ion-label>
      <ion-input class="campoInput" placeholder="Quantos dias antes na notificação" [(ngModel)]="qtdDias"></ion-input>
    </ion-item>
    <ion-item >
      <ion-segment color="danger" [(ngModel)]="permiteNoti">
        <ion-segment-button value="true" checked>
          <ion-label>Permito <br> notificação</ion-label>
        </ion-segment-button>
        <ion-segment-button value="false">
          <ion-label>Não permito <br> notificação</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>
    </div>
</ion-content>
