<ion-header>
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-back-button [defaultHref]="['/menu-sala/quiz/', idSala]"></ion-back-button>
      </ion-buttons>
      <ion-title>Inserir nova pergunta</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div class="ion-text-center bordaSuperior">
        <img class="chapeu" src="../../assets/chapeu.png">
    </div>
    <div style="margin-top: 100px;">
        <div class="tituloCriar">
          <p>Inserir nova Pergunta</p>
        </div>
        <ion-item lines="none" *ngIf="!temTag">
            <ion-label>Selecione a tag</ion-label>
            <ion-select class="campoInput" multiple="false" cancelText="Cancelar" okText="Selecionar" [(ngModel)]="tagSelecionada" >
              <ion-select-option [(value)]="item.tag" *ngFor="let item of todasTags" >{{item.tag}}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item lines="none" *ngIf="temTag">
            <ion-input class="campoInput" [(ngModel)]="tag" placeholder="Tag"></ion-input>
        </ion-item>
        <ion-item *ngIf="!temTag">
            <label>Para criar uma nova tag clique aqui</label>
              <ion-button slot="end" (click)="addTag(true)" color="success">
                <ion-icon slot="icon-only" name="add" ></ion-icon>
              </ion-button>
              
        </ion-item>
        <ion-item *ngIf="temTag">
            <label>Para selecionar uma tag clique aqui</label>
              <ion-button slot="end" (click)="addTag(false)" color="success">
                <ion-icon slot="icon-only" name="checkbox"></ion-icon>
              </ion-button>
              
        </ion-item>

        <ion-item lines="none">
            <ion-input class="campoInput" placeholder="Título" [(ngModel)]="titulo"></ion-input>
        </ion-item>
        <ion-item lines="none">
            <ion-input class="campoInput" placeholder="Pergunta" [(ngModel)]="pergunta"></ion-input>
        </ion-item>
        <div style="text-align: center; margin-top: 50px; font-weight: 600; height: 50px;">
            <ion-label >Respostas</ion-label>
            <ion-button (click)="removeContador()" style="float: right;" color="danger"><ion-icon name="remove"></ion-icon></ion-button>
            <ion-button (click)="addContador()" style="float: right;" color="success"><ion-icon name="add"></ion-icon></ion-button>
        </div>
        <div *ngFor="let teste of valores">
      
            <ion-item lines="none">
              <ion-checkbox slot="start" color="success" [(ngModel)]="respostas[teste - 1].acerto"></ion-checkbox>
              <!-- <ion-label position="floating">Resposta {{teste}}</ion-label> -->
              
              <ion-input placeholder="Resposta {{ teste }}" [(ngModel)]="respostas[teste - 1].descricao" ></ion-input>
          </ion-item>
        </div>
    </div>
    
    
    
   
    
</ion-content>
<ion-footer>
    <ion-button expand="block" color="success" style="margin: 10px;" (click)="salvar()" >Salvar</ion-button>
</ion-footer>