
<ion-content padding color="medium">
    <h1 style="text-align: center; font-weight: 600; margin-top: 30%; margin-bottom: 30%;">Summboard</h1>
    <ion-item color="light" style="margin: 5px; border-radius:5px; " >
        <ion-label position="floating">Login</ion-label>
        <ion-input [(ngModel)]="login"></ion-input>
    </ion-item>
    <ion-item class="item"  style="margin: 5px; ">
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" [(ngModel)]="senha" ></ion-input>
    </ion-item>
    <ion-button expand="block" color="dark" style="margin: 10px;" (click)="logar()" >Logar</ion-button>
    <div style="text-align: center">
        <span>Ainda não possui uma conta?</span>
        <a style="color: white; cursor: pointer;" (click)="cadastre()" > Cadastre-se</a>
    </div>
</ion-content>