<ion-header>
    <ion-toolbar color="primary">
      
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        
      </ion-buttons>
      <ion-title>SumBoard</ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content padding class="mec">
  <h1>Sistemas operacionais - Forum</h1>
  
    
    <ion-item>
      <ion-label position="floating">Adicionar pergunta no fórum</ion-label>
      <ion-textarea lines="5"></ion-textarea>
    </ion-item>    
    <ion-button shape="round" class="gerarQuiz" fill="outline" style="margin-top:20px; margin-left: 170px; width: 150px;" >Adicionar pergunta</ion-button>
    
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Memória</ion-card-subtitle>
          <ion-card-title>Dúvida Gabriel</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
         Como eu sei que memória RAM é realmente volátil?  <ion-icon name="arrow-up"></ion-icon> <ion-icon name="arrow-down"></ion-icon>
        </ion-card-content>
        <ion-card>
                    
            <ion-card-content>
                <ion-icon name="person"></ion-icon>
                Pesquisando meu querido...
            </ion-card-content>
          </ion-card>
      </ion-card>
      
  
</ion-content>