.searchBar{
    width: 106%;
    margin-left: -10px;
}

.titulo {
    font-family: SFProText Bold;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    padding-top: 10px;
    margin-top: 0px;
}

.card{
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    background-color: #6b6b6b; 
    color: #fbfbfb; 
    border-radius: 10px;
    box-shadow: none;
}