<ion-header>
  <ion-toolbar  color="primary">
    
    <ion-buttons slot="start" >
        <ion-menu-button></ion-menu-button>
      
    </ion-buttons>
    <ion-title>Summboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="mec" color="light">
  <h1 *ngIf="sala">{{sala.descricao}}</h1>
    <ion-item class="input">
      <ion-label><ion-icon name="search"></ion-icon></ion-label>
      <ion-searchbar animated Placeholder="Procurar" (keyup)="pesquisar($event)"></ion-searchbar>
    </ion-item>
    <ion-list color="light">
 
        <ng-container *ngIf="!dia || dia.length == 0">
          <div *ngFor="let n of [0,1,2]" padding>
            <ion-skeleton-text></ion-skeleton-text>
            <p>
              <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
            </p>
          </div>
        </ng-container>
        
          <ion-card  *ngFor="let item of dia">
              <ion-card-header>
                <ion-card-subtitle>Data</ion-card-subtitle>
                <ion-card-title>{{ item.data }}</ion-card-title>
              </ion-card-header>
            
              <ion-card-content >
                    
                <ion-col size="2" *ngFor="let mensa of item.mensagens">
                    <div style="display: inline-block" button [routerLink]="['/resumo-edit', mensa.id]">
                      <ion-icon name="folder"></ion-icon>
                      {{mensa.tag}}
                    </div>
                </ion-col>
              </ion-card-content>
            </ion-card>
        
     
      </ion-list>
      
      <ion-fab vertical="bottom" horizontal="start" slot="fixed" (click)="encodedText()">
        <ion-fab-button  routerDirection="forward">
          <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addNovo()">
        <ion-fab-button [routerLink]="['/resumo-insert', idSala]" routerDirection="forward">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
  
</ion-content>

