<ion-header>
  <ion-toolbar  color="danger">
    
    <ion-buttons slot="start" >
        <ion-menu-button ></ion-menu-button>
      
    </ion-buttons>
    <ion-buttons slot="primary" *ngIf="adm && sala">
      <div *ngIf="sala.solicitacao">
        <div *ngIf="adm != 'sim' || sala.solicitacao.length > 0">
          <ion-badge color="danger" *ngIf="adm == 'sim' &&  (sala.solicitacao.length > 0)">{{sala.solicitacao.length}}</ion-badge>
          <ion-button color="secondary" (click)="clickpermissao()" >
            <ion-icon slot="icon-only" name="more" ></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

    <div class="ion-text-center bordaSuperior">
        <p class="titulo">Resumos</p>
    </div>

    <div padding>
       
  <h1 style="color: #6b6b6b; font-size: 22px; font-family: SFProText Bold;" *ngIf="sala">{{sala.descricao}}</h1>
      
    <ion-searchbar class="searchBar" sty animated Placeholder="Procurar" (keyup)="pesquisar($event)"></ion-searchbar>
    
    <div style="text-align: center;
    border: 1px solid red;
    padding: 44px;
    font-size: 15px;
    font-weight: 600;
    color: red;
    border-radius: 9px;
    margin-top: 35px;" *ngIf="!dia || dia.length == 0  ">
        Que Pena! Não há resumos para serem mostrados! Crie um para auxiliar seus colegas
    </div>
    <ion-list style="background-color: transparent;">
 
        <ng-container *ngIf="!dia">
          <div *ngFor="let n of [0,1,2]" padding>
            <ion-skeleton-text></ion-skeleton-text>
            <p>
              <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
            </p>
          </div>
        </ng-container>
        
          <ion-card class="card" *ngFor="let item of dia">
              <ion-card-header style="padding-bottom: 0px;">
                <ion-card-title style="color: #fbfbfb; font-family: SFProText Medium;font-size: 17px;">{{ item.data }}</ion-card-title>
              </ion-card-header>
            
              <ion-card-content style="padding-top: 10px;">
                <ion-col size="2" *ngFor="let mensa of item.mensagens">
                    <div style="display: inline-block; margin-top: 10px; font-family: SFProText Medium; font-size: 17px;" button [routerLink]="['/resumo-edit', mensa.id]">
                      <ion-icon name="folder"></ion-icon>
                      {{mensa.tag}}
                    </div>
                </ion-col>
              </ion-card-content>
            </ion-card>
        
     
      </ion-list>
      
      <ion-fab style="margin-bottom: 70px;" vertical="bottom" horizontal="end" slot="fixed" (click)="encodedText()">
        <ion-fab-button style="--background: #febf50; --background-activated: #ffb127;" routerDirection="forward">
          <ion-icon ios="ios-barcode" md="md-barcode"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addNovo()">
        <ion-fab-button style="--background: #f0525d; --background-activated: #fa525d;" routerDirection="forward">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
  
    </div>
</ion-content>

