<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-button (click)="fecharModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
    </ion-buttons>
      
  </ion-toolbar>
</ion-header>
<ion-content>

    <div class="ion-text-center bordaSuperior">
      <img class="chapeu" src="../../assets/chapeu.png">
    </div>

    <div class="tituloCriar" style="padding-top: 50px;">
        <p *ngIf="!salaEdicao">Inserir atividade</p>
        <p *ngIf="salaEdicao">Editar atividade</p>
    </div>

    <div padding>

      <ion-item lines="none">
        <!-- <ion-label position="floating">Titulo atividade</ion-label> -->
        <ion-input placeholder="Título da atividade" class="campoInput" [(ngModel)]="titulo"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-textarea placeholder="Descrição da atividade" class="campoInput" style="height: 105px;" [(ngModel)]="descricao"></ion-textarea>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Selecione a sala</ion-label>
        <ion-select placeholder="Selecione a sala" class="campoInput campoSelect" multiple="false" cancelText="Cancelar" okText="Selecionar" [(ngModel)]="salaSelecionada" >
          <ion-select-option [(value)]="item.id" *ngFor="let item of todasSalas" >{{item.descricao}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <!-- <ion-label position="floating">Data entrega</ion-label> -->
        <ion-datetime placeholder="Selecine a data de entrega" class="campoInput" [(ngModel)]="dataEntrega" display-format="DD/MM/YYYY"></ion-datetime>
      </ion-item>

      <div class="ion-text-center" style="margin-top: 70px;">
          <!-- Botoes -->
          <ion-button class="btSalvar" (click)="salvar()">Salvar</ion-button>
      </div>
  
    </div>

</ion-content>
<!-- <ion-footer>
  <ion-button expand="block" color="success" style="margin: 10px;" (click)="salvar()" >Salvar</ion-button>
</ion-footer> -->
