@font-face {
    font-family: 'SFProText Heavy';
    src: url('../fonts/SFProText-Heavy.ttf');
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'SFProText Regular';
    src: url('../fonts/SFProText-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'SFProText Bold';
    src: url('../fonts/SFProText-Bold.ttf');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'SFProDisplay Bold';
    src: url('../fonts/SFProDisplay-Bold.ttf');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'SFProText Medium';
    src: url('../fonts/SFProText-Medium.ttf');
    font-weight: 500;
    font-style: normal;
  }