.bordaSuperior{
    background-color: #F0525D; 
    border-radius: 0px 0px 25px 25px; 
    height: 50px;
  }
.tituloCriar{
    font-family: SFProText Bold;
    font-size: 22px;
    color: #6b6b6b;
    margin-left: 25px;
}
.campoInput {
    height: 40px;
    border-radius: 9.5px;
    font-family: SFProDisplay Regular;
    font-size: 14px;
    border: solid 1px #d4d4d4;
    background-color: #FCFCFC;
    color: rgba(112, 112, 112, 1);
    padding: 2px 0px 2px 10px !important;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}
.picker-button.sc-ion-picker-ios{
  color: F0525D;
}
.toggle{
    float: right;
    margin-right: 17px;
}
.compartilhar{
    margin-right: 10px; 
    margin-top: 10px;
    float: right;
    opacity: 0.7;
    color: #6b6b6b;
    font-family: SFProDisplay Regular;
    font-size: 15px;
}
.btAzulPiscina {
    width: 291px;
    height: 48px;
    --background: #76ccd0;
    --background-activated: #76ccd0;
    font-family: SFProDisplay Bold;
    font-size: 17px;
  }
  .btSalvar{
    width: 291px;
    height: 48px;
    --background: #f0525d;
    --background-activated: #f0525d;
    font-family: SFProDisplay Bold;
    font-size: 17px;
  }