<ion-content>
  <ion-list class="lista">
    <ion-item lines="none" *ngIf="boardSelected=='para-fazer'" disabled>
      Para fazer  
      <ion-icon lines="none" ios="ios-list" md="md-list" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="none" *ngIf="boardSelected!='para-fazer'" (click)="moverAtividade('para-fazer')">
      Para fazer
      <ion-icon ios="ios-list" md="md-list" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="none" *ngIf="boardSelected=='em-andamento'" disabled>
      Em andamento
      <ion-icon ios="ios-time" md="md-time" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="none" *ngIf="boardSelected!='em-andamento'" (click)="moverAtividade('em-andamento')">
      Em andamento
      <ion-icon ios="ios-time" md="md-time" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="none" *ngIf="boardSelected=='feito'" disabled>
      Feito
      <ion-icon name="checkmark"  md="md-checkmark" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="none" *ngIf="boardSelected!='feito'" (click)="moverAtividade('feito')">
      Feito
      <ion-icon name="checkmark"  md="md-checkmark" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>