hr {
    height: 2px !important;
    width: 500px !important;
    background: rgb(130, 224, 154) !important;
    display: block !important;
    font-size: 2em !important;
    opacity: 1 !important;
    visibility: visible !important;
  }

  .foto{
    width: 50px;
    height: 50px;
    background: black;
    border-radius: 5px;
    display: inline-block;
    margin: 7px; 
  }