<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/menu-sala/resumo', todo.idSala]" ></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="this.todo">{{this.todo.tag}}</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding *ngIf="this.todo">
  <h1 style="text-align: center;">{{this.todo.titulo}}</h1>

  <h3>Resumo escrito</h3>
  <hr>
  <p>{{this.todo.conteudo}}</p>
  <br><br>
  <h3>Foto do resumo</h3>
  <hr>
  <div class="one" [innerHtml]="htmlToAdd">
      <!-- <div *ngFor="let item of fotos" class="foto"></div> -->
      <!-- <img [src]="fotoURL | async" *ngIf="fotoURL | async"> -->
  </div>
  
  <ion-fab *ngIf="this.todo && idUser == this.todo.criador" vertical="bottom" horizontal="begin" slot="fixed" color="danger">
    <ion-fab-button [routerLink]="" (click)="deletar()" >
      <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab *ngIf="this.todo && idUser == this.todo.criador" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/resumo-insert']" (click)="setarId()" routerDirection="forward">
      <ion-icon ios="ios-create" md="md-create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>