<ion-header>
  <ion-toolbar color="danger">

    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Kanban</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

    <ion-grid padding class="ionGrid">
        <ion-row style="text-align: center;">
          <ion-col (click)="setKanbanSelecionado('paraFazer')" class="numero">
            {{paraFazer.length}}
          </ion-col>
          <ion-col (click)="setKanbanSelecionado('emAndamento')" class="numero">
            {{emAndamento.length}}
          </ion-col>
          <ion-col (click)="setKanbanSelecionado('feito')" class="numero">
            {{feito.length}}
          </ion-col>
        </ion-row>
        <ion-row style="text-align: center;">
            <ion-col class="paraFazer">
              Para fazer
            </ion-col>
            <ion-col class="paraFazer">
              Em andamento
            </ion-col>
            <ion-col class="paraFazer">
              Feito
            </ion-col>
          </ion-row>
          <ion-row style="text-align: center;">
            <ion-col>
              <div *ngIf="indexSlide == 0" style="background-color: white; height: 3px; margin-top: 10px;"></div>
            </ion-col>
            <ion-col>
              <div *ngIf="indexSlide == 1" style="background-color: white; height: 3px; margin-top: 10px;"></div>
            </ion-col>
            <ion-col>
              <div *ngIf="indexSlide == 2" style="background-color: white; height: 3px; margin-top: 10px;"></div>
            </ion-col>
          </ion-row>
      </ion-grid>

      <ion-slides (ionSlideDidChange)="slideChanged()" #slides>
          <ion-slide>
              <ion-card class="kanban">
              <ion-list class="padding" *ngFor="let atividade of paraFazer">
                      <ion-item no-padding class="ltDisciplinas" detail="false" (click)="openDetails(atividade)" (press)="onPress($event, atividade.id, atividade.quadro)">
                        <ion-label>
                            <p class="lbAtividade" style="color: #f47f54;">{{atividade.nome}}</p>
                            <p class="lbSala">{{getNome(atividade.idDisciplina)[0].nomeDisciplina}}</p>
                            <p class="lbData">{{atividade.dataEntrega}}</p>
                        </ion-label>
                      </ion-item>
                </ion-list>
              </ion-card>
          </ion-slide>

          <ion-slide>
              <ion-card class="kanban">
              <ion-list class="padding" *ngFor="let atividade of emAndamento">
                      <ion-item no-padding class="ltDisciplinas" detail="false" (click)="openDetails(atividade)" (press)="onPress($event, atividade.id, atividade.quadro)">
                        <ion-label>
                            <p class="lbAtividade" style="color: #febf50;">{{atividade.nome}}</p>
                            <p class="lbSala">{{getNome(atividade.idDisciplina)[0].nomeDisciplina}}</p>
                            <p class="lbData">{{atividade.dataEntrega}}</p>
                        </ion-label>
                      </ion-item>
                </ion-list>
              </ion-card>
          </ion-slide>

          <ion-slide>
              <ion-card class="kanban">
              <ion-list class="padding" *ngFor="let atividade of feito">
                      <ion-item no-padding class="ltDisciplinas" detail="false" (click)="openDetails(atividade)" (press)="onPress($event, atividade.id, atividade.quadro)">
                        <ion-label>
                            <p class="lbAtividade" style="color: #76ccd0;">{{atividade.nome}}</p>
                            <p class="lbSala">{{getNome(atividade.idDisciplina)[0].nomeDisciplina}}</p>
                            <p class="lbData">{{atividade.dataEntrega}}</p>
                        </ion-label>
                      </ion-item>
                </ion-list>
              </ion-card>
          </ion-slide>
      </ion-slides>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button style="--background: #f0525d; --background-activated: #fa525d;" (click)="presentModal()">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
  
</ion-content>