<ion-header>
  <ion-toolbar color="danger">
    
    <ion-buttons slot="primary">
      <ion-button (click)="presentModal()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Kanban</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

    <ion-grid padding class="ionGrid">
        <ion-row style="text-align: center;">
          <ion-col (click)="setKanbanSelecionado('paraFazer')" class="numero">
            {{paraFazer.length}}
          </ion-col>
          <ion-col (click)="setKanbanSelecionado('emAndamento')" class="numero">
            {{emAndamento.length}}
          </ion-col>
          <ion-col (click)="setKanbanSelecionado('feito')" class="numero">
            {{feito.length}}
          </ion-col>
        </ion-row>
        <ion-row style="text-align: center;">
            <ion-col class="paraFazer">
              Para fazer
            </ion-col>
            <ion-col class="paraFazer">
              Em andamento
            </ion-col>
            <ion-col class="paraFazer">
              Feito
            </ion-col>
          </ion-row>
      </ion-grid>

      <ion-slides>
          <ion-slide>
              <ion-card class="kanban">
              <ion-list class="padding" *ngFor="let atividade of paraFazer">
                      <ion-item no-padding class="ltDisciplinas" detail="false" (click)="openDetails(atividade)" (press)="onPress($event, atividade.id, atividade.quadro)">
                        <ion-label>
                            <p class="lbAtividade" style="color: #f47f54;">{{atividade.nome}}</p>
                            <p class="lbSala">{{getNome(atividade.idDisciplina)[0].nomeDisciplina}}</p>
                            <p class="lbData">{{atividade.dataEntrega}}</p>
                        </ion-label>
                      </ion-item>
                </ion-list>
              </ion-card>
          </ion-slide>

          <ion-slide>
              <ion-card class="kanban">
              <ion-list class="padding" *ngFor="let atividade of emAndamento">
                      <ion-item no-padding class="ltDisciplinas" detail="false" (click)="openDetails(atividade)" (press)="onPress($event, atividade.id, atividade.quadro)">
                        <ion-label>
                            <p class="lbAtividade" style="color: #febf50;">{{atividade.nome}}</p>
                            <p class="lbSala">{{getNome(atividade.idDisciplina)[0].nomeDisciplina}}</p>
                            <p class="lbData">{{atividade.dataEntrega}}</p>
                        </ion-label>
                      </ion-item>
                </ion-list>
              </ion-card>
          </ion-slide>

          <ion-slide>
              <ion-card class="kanban">
              <ion-list class="padding" *ngFor="let atividade of feito">
                      <ion-item no-padding class="ltDisciplinas" detail="false" (click)="openDetails(atividade)" (press)="onPress($event, atividade.id, atividade.quadro)">
                        <ion-label>
                            <p class="lbAtividade" style="color: #76ccd0;">{{atividade.nome}}</p>
                            <p class="lbSala">{{getNome(atividade.idDisciplina)[0].nomeDisciplina}}</p>
                            <p class="lbData">{{atividade.dataEntrega}}</p>
                        </ion-label>
                      </ion-item>
                </ion-list>
              </ion-card>
          </ion-slide>
      </ion-slides>
        
            
  <!-- <ion-slides pager="true">
      <ion-slide>
        <ion-card class="kanban" *ngIf="nomesDisciplinas">
            <ion-card-header>
              <ion-card-subtitle *ngIf="paraFazer.length == 0">Sem atividades</ion-card-subtitle>
                <ion-card-subtitle *ngIf="paraFazer.length == 1">{{paraFazer.length + " atividade"}}</ion-card-subtitle>
                <ion-card-subtitle *ngIf="paraFazer.length > 1">{{paraFazer.length + " atividades"}}</ion-card-subtitle>
              <ion-card-title>PARA FAZER</ion-card-title>
            </ion-card-header>
          
            
            <ion-card-content *ngIf="nomesDisciplinas">
                <ion-list *ngFor="let atividade of paraFazer">
                  <ion-item no-padding (click)="openDetails(atividade)" (press)="onPress($event, atividade.id, atividade.quadro)">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="8" style="padding-left: 0px">
                                <h3>{{getNome(atividade.idDisciplina)[0].nomeDisciplina}}</h3>
                            </ion-col>  
                              <ion-col size="4" style="padding-right: 0px; text-align: right">
                                  <h3>{{atividade.dataEntrega}}</h3>
                              </ion-col>
                          </ion-row>
                      <ion-row>
                          <ion-label>
                              <h2>{{atividade.nome}}</h2>
                            </ion-label>
                      </ion-row>
                    </ion-grid>  
                   </ion-item>
                </ion-list>
            </ion-card-content>

          </ion-card>
      </ion-slide>

      <ion-slide>
          <ion-card class="kanban">
              <ion-card-header>
                <ion-card-subtitle *ngIf="emAndamento.length == 0">Sem atividades</ion-card-subtitle>
                <ion-card-subtitle *ngIf="emAndamento.length == 1">{{emAndamento.length + " atividade"}}</ion-card-subtitle>
                <ion-card-subtitle *ngIf="emAndamento.length > 1">{{emAndamento.length + " atividades"}}</ion-card-subtitle>
                <ion-card-title>EM ANDAMENTO</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                <ion-list *ngFor="let atividade of emAndamento">
                  <ion-item no-padding (click)="openDetails(atividade)" (press)="onPress($event, atividade.id, atividade.quadro)">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="8" style="padding-left: 0px">
                              <h3>{{getNome(atividade.idDisciplina)[0].nomeDisciplina}}</h3>
                            </ion-col>  
                              <ion-col size="4" style="padding-right: 0px; text-align: right">
                                  <h3>{{atividade.dataEntrega}}</h3>
                              </ion-col>
                          </ion-row>
                      <ion-row>
                          <ion-label>
                              <h2>{{atividade.nome}}</h2>
                            </ion-label>
                      </ion-row>
                    </ion-grid>  
                   </ion-item>
                </ion-list>
            </ion-card-content>

            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card class="kanban">
                <ion-card-header>
                  <ion-card-subtitle *ngIf="feito.length == 0">Sem atividades</ion-card-subtitle>
                <ion-card-subtitle *ngIf="feito.length == 1">{{feito.length + " atividade"}}</ion-card-subtitle>
                <ion-card-subtitle *ngIf="feito.length > 1">{{feito.length + " atividades"}}</ion-card-subtitle>
                  <ion-card-title>FEITO</ion-card-title>
                </ion-card-header>
               
                <ion-card-content>
                  <ion-list *ngFor="let atividade of feito">
                    <ion-item no-padding (click)="openDetails(atividade)" (press)="onPress($event, atividade.id, atividade.quadro)">
                      <ion-grid>
                          <ion-row>
                              <ion-col size="8" style="padding-left: 0px">
                                <h3>{{getNome(atividade.idDisciplina)[0].nomeDisciplina}}</h3>
                              </ion-col>  
                                <ion-col size="4" style="padding-right: 0px; text-align: right">
                                    <h3>{{atividade.dataEntrega}}</h3>
                                </ion-col>
                            </ion-row>
                        <ion-row>
                            <ion-label>
                                <h2>{{atividade.nome}}</h2>
                              </ion-label>
                        </ion-row>
                      </ion-grid>  
                     </ion-item>
                  </ion-list>
              </ion-card-content>

              </ion-card>
          </ion-slide>

  </ion-slides> -->
  
</ion-content>