<ion-header>
  <ion-toolbar color="danger">
    
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button >
          Editar perfil
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="userPhoto ion-text-center">

    <div style="margin-left: 32%; border-radius: 50%; width: 138px; height: 138px; background-color: #e1e1e1;">
        <img src="../../assets/perfil-image.jpg">
    </div>

    <img style="position: absolute; margin-top: -19px; margin-left: 50px;" height="19.8" width="23.4" src="../../assets/selectPhoto.png">

    <p style="font-family: SFProText Regular; font-size: 17px; color: white;">Bem vindo, {{user.nome.split(' ')[0]}}</p>

    <p style="font-family: SFProText Bold; font-size: 22px; color: white;">Pontuação geral</p>

    <div class="ion-text-center" style="margin-left: 42%; width: 55px; height: 55px; background-color: #febf50; border-radius: 35px;"> 
      <p style="font-family: SFProText Bold; color: white; font-size: 22px;padding-top: 25%;">{{user.pontos}}</p>
    </div>
  </div>

  <ion-list style="margin-top: 88%;">
        <ion-item>
          <ion-label class="items" (click)="abrirNotificacao()">Notificações</ion-label>
        </ion-item>
        <ion-item>
            <ion-label class="items">Ajuda e Suporte</ion-label>
          </ion-item>
          <ion-item>
              <ion-label class="items">Sobre</ion-label>
          </ion-item>
          <ion-item>
              <ion-label class="items">Sair</ion-label>
          </ion-item>
  </ion-list>

  <!-- <ng-container *ngIf="!user">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>
    <ion-card *ngIf="user">
      <div style="text-align: center;">
        <img src="../../assets/perfil-image.jpg" style="width: 105px; margin-left:35%; margin-top: 15px;" />
        <ion-card-header>
          <ion-card-subtitle>Exibir perfil</ion-card-subtitle>
          <div class="primary"> Sua pontuação - {{user.pontos}}</div>
          <ion-card-title>Perfil do usuário </ion-card-title>
        </ion-card-header>
      </div>
      <ion-card-content *ngIf="!edit">
        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input [(ngModel)]="user.nome" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Instituição</ion-label>
          <ion-input [(ngModel)]="user.instituicao" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input [(ngModel)]="user.email" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Curso</ion-label>
          <ion-input [(ngModel)]="user.curso" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input [(ngModel)]="user.senha" type="password" disabled></ion-input>
        </ion-item>
        
      </ion-card-content>
      <ion-card-content *ngIf="edit">
        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input [(ngModel)]="user.nome"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Instituição</ion-label>
          <ion-input [(ngModel)]="user.instituicao"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input [(ngModel)]="user.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Curso</ion-label>
          <ion-input [(ngModel)]="user.curso"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input [(ngModel)]="user.senha" type="password"></ion-input>
        </ion-item>
        
      </ion-card-content>
    </ion-card> -->
    
    <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerDirection="forward" (click)="editar()">
            <ion-icon ios="ios-create" md="md-create" *ngIf="!edit" ></ion-icon>
            <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle" *ngIf="edit"></ion-icon>
        </ion-fab-button>
      </ion-fab> -->

</ion-content>