<ion-header>
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-back-button [defaultHref]="['/forum-list', idForum]" ></ion-back-button>
      </ion-buttons>
      <ion-title>Inserir uma nova resposta</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div class="ion-text-center bordaSuperior">
        <img class="chapeu" src="../../assets/chapeu.png">
    </div>
    <div style="margin-top: 100px;">

        <div class="tituloCriar">
          <p>Inserir uma nova resposta</p>
        </div>
        <ion-item lines="none">
          <ion-textarea placeholder="Resposta" style="height: auto;" class="campoInput" rows="10" [(ngModel)]="resposta"></ion-textarea>
        </ion-item>
    </div>
    
</ion-content>
<ion-footer>
    <ion-button expand="block" color="success" style="margin: 10px;" (click)="salvar()" >Salvar</ion-button>
</ion-footer>