// .alert-wrapper {
//     min-width: 100%;//what ever you like
//  }

//  ion-select{
//     max-width: 70% !important;// your choice :)
// }

.alert-tappable.alert-radio {
    height: auto;
    contain: content;
}

.alert-radio-label.sc-ion-alert-md,
.alert-radio-label.sc-ion-alert-ios {
    white-space: normal;
}
.titulo {
    font-family: SFProText Bold;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    padding-top: 10px;
    margin-top: 0px;
}

.campoSelect{
    max-width: 1000% !important;
    padding: 10px !important;
}