<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Inserir nova sala de aula</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 10px; text-align: center; margin-bottom: 10px;">
    <h1>Inserir nova sala de aula</h1>
  </div>
  <ion-item>
    <ion-label position="floating">Nome aula</ion-label>
    <ion-input [(ngModel)]="descricao"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nome da sala</ion-label>
    <ion-input [(ngModel)]="sala"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Universidade</ion-label>
    <ion-input [(ngModel)]="universidade"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Início aula</ion-label>
    <ion-datetime [(ngModel)]="inicioAula" display-format="DD/MM/YYYY"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating" >Periodo</ion-label>
    <ion-input [(ngModel)]="periodo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" >Professor</ion-label>
    <ion-input [(ngModel)]="professor"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" >Qtd. duração (em meses)</ion-label>
    <ion-input [(ngModel)]="qtdMeses"></ion-input>
  </ion-item>
   <div style="text-align: center; margin-top: 50px; font-weight: 600; height: 50px;">
     <ion-label>Dias/Horários das aulas</ion-label>
    <ion-button (click)="removePoint()" style="float: right;" color="danger"><ion-icon name="remove"></ion-icon></ion-button>
    <ion-button (click)="addPoint()" style="float: right;" color="success"><ion-icon name="add"></ion-icon></ion-button>
  </div>
  <div *ngFor="let i of valores">
    <ion-item>
      <ion-label>Dias da semana</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="horarios[i - 1].diaSemana">
        <ion-select-option value="seg">Segunda</ion-select-option>
        <ion-select-option value="ter">Terça</ion-select-option>
        <ion-select-option value="qua">Quarta</ion-select-option>
        <ion-select-option value="qui">Quinta</ion-select-option>
        <ion-select-option value="sex">Sexta</ion-select-option>
        <ion-select-option value="sab">Sábado</ion-select-option>
        <ion-select-option value="dom">Domingo</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Horário início</ion-label>
      <ion-datetime display-format="HH:mm" [(ngModel)]="horarios[i - 1].horarioI"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Horário fim</ion-label>
      <ion-datetime display-format="HH:mm" [(ngModel)]="horarios[i - 1].horarioF"></ion-datetime>
    </ion-item>
    <hr>
  </div>
</ion-content>
<ion-footer>
  <ion-button expand="block" color="success" style="margin: 10px;" (click)="salvar()" >Salvar</ion-button>
</ion-footer>