<ion-header>
  <ion-toolbar color="danger">
    
    <!-- <ion-buttons slot="primary">
      <ion-button (click)="addNewEvent()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons> -->

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-segment [(ngModel)]="segmentType" color="tertiary" style="width: 90%; margin-left: -3px; margin-top: 10px; margin-bottom: 10px;">
        <ion-segment-button value="aula" checked>
          <ion-label>Aulas</ion-label>
        </ion-segment-button>
        <ion-segment-button value="atividade">
          <ion-label>Atividades</ion-label>
        </ion-segment-button>
    </ion-segment>

  </ion-toolbar>
</ion-header>

<ion-content force-overscroll="false" no-bounce>

  <div style="background-color: #F0525D; border-radius: 0px 0px 25px 25px;" class="ion-text-center">
    <span style="float: right; padding: 20px;"><img height="20px" src="../../../assets/arrowCalendarRight.png"></span>
    <span style="float: left; padding: 20px"><img height="20px" src="../../../assets/arrowCalendarLeft.png"></span>
    <h2 style="padding-top: 8px; font-family: SFProText Heavy; font-size: 25px; margin-bottom: 0px; margin-top: 0px; background-color: #F0525D; color: white;">{{ mesSelecionado }}</h2>
    <h3 style="font-size: 17px; font-family: SFProText Regular; margin-bottom: 0px; padding-bottom: 10px; margin-top: 0px; background-color: #F0525D; color: white;border-radius: 0px 0px 25px 25px;">{{ anoSelecionado }}</h3>
  </div>

  <ng-template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">

    <div *ngIf="eventSource.length > 0 && segmentType == 'aula'">
      <ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">
        <ion-item *ngFor="let event of eventSource" (click)="onEventSelected(event)">
          <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
            <p class="tituloAtividade">{{ event.title }}</p>
            <p class="nomeDiciplina">{{ event.disciplina}}</p>
          </ion-label>
        </ion-item>
        </ion-list>
      </div>

      <div *ngIf="eventSource.length == 0 && segmentType == 'aula'">
        <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
              <p class="tituloAtividade" style="font-family: SFProText Regular; padding: 15px;">Sem aulas</p>
          </ion-label>
      </div>

      <div *ngIf="atvSource.length > 0 && segmentType == 'atividade'">
        <ion-list class="event-detail-container" has-bouncing="false" *ngIf="showEventDetail" overflow-scroll="false">
          <ion-item *ngFor="let event of atvSource" (click)="onEventSelected(event)">
            <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
              <p class="tituloAtividade">{{ event.title }}</p>
              <p class="nomeDiciplina">{{ event.descricao}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>

      <div *ngIf="atvSource.length == 0 && segmentType == 'atividade'">
        <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
            <p class="tituloAtividade" style="font-family: SFProText Regular; padding: 15px;">Sem atividades</p>
          </ion-label>
        </div>

  </ng-template>

  <calendar 
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    [noEventsLabel]="calendar.noEventsLabel"
    [allDayLabel]="calendar.allDayLabel"
    [monthviewEventDetailTemplate]="template"
    (onCurrentDateChanged)="onCurrentDateChanged($event)"
    (onRangeChanged)="onRangeChanged($event)"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    step="30">
  </calendar>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button style="--background: #f0525d; --background-activated: #fa525d;" (click)="addNewEvent()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>


</ion-content>
