<ion-header>
  <ion-toolbar color="primary">
    
    <ion-buttons slot="primary">
      <ion-button (click)="addNewEvent()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Calendário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-text-center">
    <h2 style="font-size: 35px; margin-bottom: 0px;">{{ mesSelecionado }}</h2>
    <h3 style="margin-top: 0px;">{{ anoSelecionado }}</h3>
  </div>

  <calendar 
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    [noEventsLabel]="calendar.noEventsLabel"
    [allDayLabel]="calendar.allDayLabel"
    (onCurrentDateChanged)="onCurrentDateChanged($event)"
    (onRangeChanged)="reloadSource(startTime, endTime)"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    step="30">
  </calendar>


</ion-content>
