.tituloAtividade {
  height: 26px;
  font-family: SFProText Heavy;
  font-size: 22px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #f47f54;
  margin-bottom: 5px;
}

.nomeDiciplina {
  height: 18px;
  font-family: SFProText Regular;
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6b6b6b;
  margin-left: 10px;
  margin-bottom: 5px;
}

.linha {
  width: 346px;
  height: 1px;
  border: solid 1px #d4d4d4;
}


.lbNaoIncrito{
  text-align: center;
  background-color: #f0525d;
  padding: 5px;
  color: white;
  font-size: 20px;
  margin-top: -5px;
  border-radius: 0px 0px 15px 15px;
}

.segment-button-checked{
  color: #f0525d !important;
}