<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button [defaultHref]="['/menu-sala/forum/', forum.idSala]"></ion-back-button>
      </ion-buttons>
      <ion-title>Fórum</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div *ngIf="forum">
      <div style="padding: 10px; text-align: center; margin-bottom: 10px;">
        <h1 style="text-align: left">{{forum.pergunta}}</h1>
      </div>
      
      <ion-list *ngIf="forum.respostas">
          <ion-item *ngFor="let item of forum.respostas; let i = index">
            <ion-card-header>
              <ion-card-title>
                  <ion-icon class="iconeSeta" name="arrow-dropup" (click)="maisLikes(i, 1)"></ion-icon><br>
                  <span style="margin-left:16px">{{item.likes}}</span><br>
                  <ion-icon class="iconeSeta" name="arrow-dropdown" (click)="maisLikes(i, -1)"></ion-icon><br>
              </ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              {{item.resposta}}
            </ion-card-content>
          </ion-item>
        
        </ion-list>
      
        <div style="text-align: center;
  border: 1px solid red;
  padding: 44px;
  font-size: 15px;
  font-weight: 600;
  color: red;
  border-radius: 9px;
  margin-top: 35px;" *ngIf="!forum.respostas || forum.respostas.length == 0  ">
      Que Pena! Não há respostas para a pergunta!
  </div>   
      </div>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button [routerLink]="['/resp-insert', idForum]" routerDirection="forward">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
</ion-content>